<div class="main">
    <div class="main__wave">
        <div class="wave"></div>
    </div>
    <h1 class="main__title">We fuel the dream of making better life</h1>
    <i id="down" class="iconfont">&#xe73a;</i>
</div>

<div class="logo-box">
    <a href="/" class="logo">puzzle capital</a>
</div>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item active">投资</li>
        <li class="nav__item">
            <a href="space">空间</a>
        </li>
    </ul>
</nav>

<div class="about">
    <h2 class="about__title">拼图创投</h2>
    <p class="about__content">我们组建于2016年，助力科技型创业项目快速成长，主投体育、泛娱乐，大健康等领域的天使，preA阶段的创业项目，首期基金规模一亿元</p>
    <ul class="about__star">
        <li class="about__item"><i class="iconfont">&#xe62c;</i>
            <p class="about__number">100</p>
            <p class="about__unit">starup</p>
        </li>
        <li class="about__item"><i class="iconfont">&#xe632;</i>
            <p class="about__number">100</p>
            <p class="about__unit">million</p>
        </li>
        <li class="about__item"><i class="iconfont">&#xe69a;</i>
            <p class="about__number">3</p>
            <p class="about__unit">themes</p>
        </li>
    </ul>
</div>

<div class="friend">
    <div class="friend__mask"></div>
    <div class="p-row">
        <h2 class="friend__title" data-cont="我们一起，做生活最好的朋友。">我们一起，做创业者最好的朋友。</h2>
    </div>
</div>

<div class="submit">
    <div class="p-row">
        <div class="submit__content">如果你是一位创新者，</div>
        <div class="submit__content">有酷炫的项目和超强的执行力，又懂得创业维艰，</div>
        <div class="submit__content">我们期待更早得认识你。</div>
        <div class="submit__content">
            <a href="mailto:bp@puzzlecapital.com" class="submit__button">发送商业计划书</a>
        </div>
    </div>
</div>

<script src="js/main.js"></script>