<div class="space">
    <img class="space__banner" src="/imgs/space-banner.jpg" alt="">
    <h1 class="main__title notfade">We provide the space that work your way</h1>
</div>

<div class="logo-box">
    <a href="/" class="logo">puzzle capital</a>
</div>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/">投资</a>
        </li>
        <li class="nav__item active">空间</li>
    </ul>
</nav>

<div class="preview">
    <img src="/imgs/space.png" alt="">
</div>

<div class="about">
    <h2 class="about__title">拼图空间</h2>
    <p class="about__content">拼图空间面积约2000平方米，有196个工位，独立创业空间与联合工位混合搭配，可同时为30多个早期创业团队提供服务</p>
    <p class="about__content">空间内另设有公共的创业咖啡空间、会议路演空间、创业休闲空间等，满足创业者的全方位物理空间需求。多种户型的独立办公空间，满足不同规模的创业团队。</p>
    <p class="about__content">国际化办公配套，提供给创业团队最好的服务</p>
    <ul class="about__star">
        <li class="about__item"><i class="iconfont">&#xe680;</i>
            <p class="about__number">196</p>
            <p class="about__unit">Seat</p>
        </li>
        <li class="about__item"><i class="iconfont">&#xe600;</i>
            <p class="about__number">2000</p>
            <p class="about__unit">Area</p>
        </li>
        <li class="about__item"><i class="iconfont">&#xe609;</i>
            <p class="about__number">30</p>
            <p class="about__unit">Teams</p>
        </li>
    </ul>
</div>




<script src="js/main.js"></script>