@font-face {
    font-family: 'iconfont';  /* project id 203954 */
    src: url('//at.alicdn.com/t/font_vx6jl04ljx6zjjor.eot');
    src: url('//at.alicdn.com/t/font_vx6jl04ljx6zjjor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_vx6jl04ljx6zjjor.woff') format('woff'),
    url('//at.alicdn.com/t/font_vx6jl04ljx6zjjor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_vx6jl04ljx6zjjor.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
}

body {
    min-width: 1140px;
    background: #fff;
    @include res('m') {
        min-width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}

@include res('m') {
    ::-webkit-scrollbar {
        width: 0;
    }
}

.p-row {
    position: relative;
    width: 100%;
    min-width: 1100px;
    max-width: 1440px;
    margin: 0 auto;
}



/* vietnamese */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(/fonts/trwFkDJLOJf6hqM93944kQfszGgMBEE2DEn7QUCVBq73rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(/fonts/trwFkDJLOJf6hqM93944kRFkOKGofMYDbhfVBaHGV-73rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(/fonts/trwFkDJLOJf6hqM93944ker6izN8pFz2vBdBTi336gA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(/fonts/h3_FseZLI76g1To6meQ4zX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(/fonts/ifRS04pY1nJBsu8-cUFUS-vvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}